@font-face {
    font-family: 'charterregular';
    src: url('https://juyong.me/fonts/charter_regular-webfont.woff2') format('woff2'),
         url('https://juyong.me/fonts/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    text-align: center;
    font-size: 16px;
    font-family:'charterregular';
    }
       
 h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 4em;
    color:rgb(240, 180, 29);
     }
       
h2 {
    font-size: 3em;
    }
footer {
        font-size: 1em;
    }
       
.fine-print {
        font-size: 0.6em;
       }
#image {
    max-width: 80%;
    height: auto;
    display:block;
    margin:auto;
  }

#img-div {
    max-width: 100%;
    background:linear-gradient(#222222, #bbbbbb);
    align-self: stretch;
}
body { 
    margin: 0 auto;
    background-color:rgb(224, 217, 194);
}
#mainheading{
    background-color:#222222;
    margin:0px;
    padding:3rem;
}

#tribute-info{
    max-width:90%;
    margin:auto;
}
#main {
    display:flex;
    flex-direction: column;
    background-color: #bbbbbb;
    max-width:70%;
    margin:auto;
}

@media (max-width: 900px) {
    #main{
        max-width:100%
    }
    #image {
        max-width:90%
    }
}
