@font-face {
    font-family: 'charterregular';
    src: url('https://juyong.me/fonts/charter_regular-webfont.woff2') format('woff2'),
         url('https://juyong.me/fonts/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    text-align: center;
    font-size: 16px;
    }
       
 h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    }
       
h1 {
    font-size: 4em;
     }
       
h2 {
    font-size: 1.75em;
    }
footer {
        font-size: 0.8em;
    }
       
.fine-print {
        font-size: 0.6em;
       }
img {
    max-width: 100%;
    height: auto;
    display:block
  }

#img-div {
    margin:auto;
    max-width: 90%;
}
html{
    background-color: #444444;
}

#main {
    display:flex;
    flex-direction: column;
    max-width:70%;
    margin:auto;
    background-color: #BBBBBB;
}
@media (max-width: 600px) {
    #img-div {
        max-width: 100%;
    }
}