body {
    text-align: center;
    font-size: 20px;
    background-color: rgb(183, 204, 162);
    }  
 h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 4em;
    color:rgb(109, 22, 22);
     } 
h2 {
    font-size: 3em;
    }
main{
      max-width:700px;
        margin:auto;
    }
#nav-bar {
        position: fixed;
        top: 0px;
        left: 30%;
}
.nav-link {
    border: 1mm solid black;
    padding: 5px;
}
#flexbox {
    display:flex;
    flex-direction: column;
}
#video-container {
    max-width:80%;
    height: 40vh;
    margin:auto;
}
#features {
    text-align: left;
}

@media (max-width: 900px) {
    main {
    max-width: 90%;
    }
}